
.hypothesis {
	padding:10px;
}

/*one cue and 3 values*/

.oneC3Vpop {
	margin-left: 300px;
	font-size: 18px;
}

.oneC3Vpop_number {
	margin-left: 300px;
	font-size: 18px;
	color: #0000CD;
}

.oneC3VbaseRate {
	margin-left: 100px;
	width: 55px;
}

.oneC3Vbase {
	margin-left: 15px;
	font-size: 18px;
	color: #0000CD;
	display: inline-block;
	width: 100px;
}

.oneC3Vnoise {
	margin-left: 15px;
	font-size: 18px;
	color: #0000CD;
	display: inline-block;
}

.oneC3VnbaseRate {
	margin-left: 120px;
	width: 55px;
}

.oneC3VhitRate {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}

.oneC3Vhit {
	font-size: 18px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 60px;
}

.oneC3VunclearRate1 {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}

.oneC3Vunclear1 {
	font-size: 18px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 60px;

}

.oneC3VmissRate {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}
.oneC3Vmiss {
	font-size: 18px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 60px;
}

.oneC3VfaRate {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}

.oneC3Vfa {
	font-size: 18px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 60px;
}

.oneC3VunclearRate2 {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}

.oneC3Vunclear2 {
	font-size: 18px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 60px;

}

.oneC3VcrRate {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}

.oneC3Vcr {
	font-size: 18px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 60px;
}

.oneC3Vprobability1 {
	font-size: 18px;
	display: flex;
	margin-left: 200px;
}

/*three hypothesis*/
.h3pop {
	margin-left: 300px;
	font-size: 18px;
}

.h3pop_number {
	margin-left: 300px;
	font-size: 18px;
	color: #0000CD;
}

.h3baseRate1 {
	margin-left: 80px;
	width: 55px;
}

.h3base1 {
	margin-left: 15px;
	font-size: 18px;
	color: #0000CD;
	display: inline-block;
	width: 90px;
}

.h3baseRate2 {
	margin-left: 5px;
	width: 55px;
}

.h3base2 {
	margin-left: 15px;
	font-size: 18px;
	color: #0000CD;
	display: inline-block;
	width: 70px;
}

.h3noise {
	margin-left: 15px;
	font-size: 18px;
	color: #0000CD;
	display: inline-block;
}

.h3nbaseRate {
	margin-left: 30px;
	width: 55px;
}

.h3hitRate1 {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}

.h3hit1 {
	font-size: 18px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 60px;
}


.h3missRate1 {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}
.h3miss1 {
	font-size: 18px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 60px;
}


.h3hitRate2 {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}

.h3hit2 {
	font-size: 18px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 60px;
}


.h3missRate2 {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}
.h3miss2 {
	font-size: 18px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 60px;
}


.h3faRate {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}

.h3fa {
	font-size: 18px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 60px;
}


.h3crRate {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}

.h3cr {
	font-size: 18px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 60px;
}

.h3probability1 {
	font-size: 18px;
	display: flex;
	margin-left: 300px;
	padding: 5px;
}

.h3probability2 {
	font-size: 18px;
	display: flex;
	margin-left: 300px;
	padding: 5px;
}


/*two cues*/
.c2pop {
	margin-left: 350px;
	font-size: 15px;
}

.c2pop_number {
	margin-left: 350px;
	font-size: 15px;
	color: #0000CD;
}

.c2baseRate {
	margin-left: 150px;
	width: 55px;
}

.c2base {
	margin-left: 10px;
	font-size: 15px;
	color: #0000CD;
	display: inline-block;
	width: 90px;
}


.c2noise {
	margin-left: 10px;
	font-size: 15px;
	color: #0000CD;
	display: inline-block;
}

.c2nbaseRate {
	margin-left: 100px;
	width: 55px;
}

.c2hitRate {
	width: 55px;
	font-size: 15px;
	margin-left: 50px;
	display:inline-flex;
	padding: 0px;
}

.c2hit {
	font-size: 15px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 60px;
}


.c2missRate {
	width: 55px;
	font-size: 15px;
	margin-left: 70px;
	display:inline-flex;
	padding: 0px;
}
.c2miss {
	font-size: 15px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 50px;
}


.c2faRate {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}

.c2fa {
	font-size: 15px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 60px;
}


.c2crRate {
	width: 55px;
	font-size: 15px;
	margin-left: 40px;
	display:inline-flex;
	padding: 0px;
}

.c2cr {
	font-size: 15px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 60px;
}

/*second layer*/
.c2hitRate1 {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}

.c2hit1 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 80px;
}


.c2missRate1 {
	width: 55px;
	font-size: 15px;
	margin-left: 80px;
	display:inline-flex;
	padding: 0px;
}
.c2miss1 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 50px;
	display: inline-flex;
	width: 60px;

}



.c2hitRate2 {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}

.c2hit2 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 80px;
}


.c2missRate2 {
	width: 55px;
	font-size: 15px;
	margin-left: 50px;
	display:inline-flex;
	padding: 0px;
}
.c2miss2 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 20px;
	display: inline-flex;
	width: 60px;
}


.c2faRate1 {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}

.c2fa1 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 80px;
}


.c2crRate1 {
	width: 55px;
	font-size: 15px;
	margin-left: 40px;
	display:inline-flex;
	padding: 0px;
}

.c2cr1 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 10px;
	display: inline-flex;
	width: 60px;
}


.c2faRate2 {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}

.c2fa2 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 80px;
}


.c2crRate2 {
	width: 55px;
	font-size: 15px;
	margin-left: 40px;
	display:inline-flex;
	padding: 0px;
}

.c2cr2 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 10px;
	display: inline-flex;
	width: 80px;
}

.c2probability1 {
	font-size: 15px;
	display: flex;
	margin-left: 250px;
	padding: 5px;
}




/*three cues*/
.c3pop {
	margin-left: 350px;
	font-size: 15px;
}

.c3pop_number {
	margin-left: 350px;
	font-size: 15px;
	color: #0000CD;
}

.c3baseRate {
	margin-left: 150px;
	width: 55px;
}

.c3base {
	margin-left: 10px;
	font-size: 15px;
	color: #0000CD;
	display: inline-block;
	width: 90px;
}


.c3noise {
	margin-left: 10px;
	font-size: 15px;
	color: #0000CD;
	display: inline-block;
}

.c3nbaseRate {
	margin-left: 100px;
	width: 55px;
}

.c3hitRate {
	width: 55px;
	font-size: 15px;
	margin-left: 50px;
	display:inline-flex;
	padding: 0px;
}

.c3hit {
	font-size: 15px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 60px;
}


.c3missRate {
	width: 55px;
	font-size: 15px;
	margin-left: 70px;
	display:inline-flex;
	padding: 0px;
}
.c3miss {
	font-size: 15px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 50px;
}


.c3faRate {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}

.c3fa {
	font-size: 15px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 60px;
}


.c3crRate {
	width: 55px;
	font-size: 15px;
	margin-left: 40px;
	display:inline-flex;
	padding: 0px;
}

.c3cr {
	font-size: 15px;
	color: #0000CD;
	margin-left: 5px;
	display: inline;
	width: 60px;
}

/*second layer*/
.c3hitRate1 {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}

.c3hit1 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 10px;
	display: inline-flex;
	width: 80px;
}


.c3missRate1 {
	width: 55px;
	font-size: 15px;
	margin-left: 80px;
	display:inline-flex;
	padding: 0px;
}
.c3miss1 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 40px;
	display: inline-flex;
	width: 60px;

}



.c3hitRate2 {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}

.c3hit2 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 80px;
}


.c3missRate2 {
	width: 55px;
	font-size: 15px;
	margin-left: 50px;
	display:inline-flex;
	padding: 0px;
}
.c3miss2 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 20px;
	display: inline-flex;
	width: 60px;
}


.c3faRate1 {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}

.c3fa1 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 80px;
}


.c3crRate1 {
	width: 55px;
	font-size: 15px;
	margin-left: 40px;
	display:inline-flex;
	padding: 0px;
}

.c3cr1 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 10px;
	display: inline-flex;
	width: 60px;
}


.c3faRate2 {
	width: 55px;
	font-size: 15px;
	margin-left: 0px;
	display:inline-flex;
	padding: 0px;
}

.c3fa2 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 80px;
}


.c3crRate2 {
	width: 55px;
	font-size: 15px;
	margin-left: 40px;
	display:inline-flex;
	padding: 0px;
}

.c3cr2 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 10px;
	display: inline-flex;
	width: 60px;
}



/*3rd layer*/

.c3hitRate11 {
	width: 40px;
	display: inline-flex;
	margin-left: 0px;
	font-size: 12px;
	padding: 0px;
}

.c3missRate11 {
	width: 40px;
	display: inline-flex;
	margin-left: 0px;
	font-size: 12px;
	padding: 0px;

}

.c3hitRate12 {
	width: 40px;
	display: inline-flex;
	margin-left: 0px;
	font-size: 12px;
	padding: 0px;

}

.c3missRate12 {
	width: 40px;
	display: inline-flex;
	margin-left: 0px;
	font-size: 12px;
	padding: 0px;
}

.c3hitRate21 {
	width: 40px;
	display: inline-flex;
	margin-left: 0px;
	font-size: 12px;
	padding: 0px;
}

.c3missRate21 {
	width: 40px;
	display: inline-flex;
	margin-left: 0px;
	font-size: 12px;
	padding: 0px;
}

.c3hitRate22 {
	width: 40px;
	display: inline-flex;
	margin-left: 0px;
	font-size: 12px;
	padding: 0px;
}

.c3missRate22 {
	width: 40px;
	display: inline-flex;
	margin-left: 0px;
	font-size: 12px;
	padding: 0px;
}

.c3faRate11 {
	width: 40px;
	display: inline-flex;
	margin-left: 0px;
	font-size: 12px;
	padding: 0px;
}

.c3crRate11 {
	width: 40px;
	display: inline-flex;
	margin-left: 0px;
	font-size: 12px;
	padding: 0px;
}
.c3faRate12 {
	width: 40px;
	display: inline-flex;
	margin-left: 0px;
	font-size: 12px;
	padding: 0px;
}
.c3crRate12 {
	width: 40px;
	display: inline-flex;
	margin-left: 0px;
	font-size: 12px;
	padding: 0px;
}

.c3faRate21 {
	width: 40px;
	display: inline-flex;
	margin-left: 0px;
	font-size: 12px;
	padding: 0px;
}
.c3crRate21 {
	width: 40px;
	display: inline-flex;
	margin-left: 0px;
	font-size: 12px;
	padding: 0px;
}

.c3faRate22 {
	width: 40px;
	display: inline-flex;
	margin-left: 0px;
	font-size: 12px;
	padding: 0px;
}
.c3crRate22 {
	width: 40px;
	display: inline-flex;
	margin-left: 0px;
	font-size: 12px;
	padding: 0px;
}

/*output*/
.c3hit11 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 40px;
}

.c3miss11 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 40px;
}

.c3hit12 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 40px;
}

.c3miss12 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 40px;
}

.c3hit21 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 40px;
}

.c3miss21 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 40px;
}

.c3hit22 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 40px;
}

.c3miss22 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 40px;
}

.c3fa11 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 40px;
}
.c3cr11 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 40px;
}
.c3fa12 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 40px;
}
.c3cr12 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 40px;
}
.c3fa21 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 40px;
}
.c3cr21 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 40px;
}
.c3fa22 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 40px;
}
.c3cr22 {
	font-size: 15px;
	color: #0000CD;
	margin-left: 0px;
	display: inline-flex;
	width: 40px;
}
/*prob*/

.c3probability1 {
	font-size: 15px;
	display: flex;
	margin-left: 50px;
	padding: 25px;
}
